body {
    font-family: "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    font-size: 50px;
    background-color: rgb(63, 81, 181);
    color: #FAFFFA;
    text-align: center;
    padding: 20px;
    border-bottom: 10px solid black;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

h2 {
    font-size: 30px;
}

p {
    font-family: "Crimson Text", "Times New Roman", serif;
    margin: 20px 0;
}

blockquote {
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

aside {
    background-color: #3F51B5;
    color: #F2FFFC;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

aside li {
    display: inline-block;
}

footer {
    background-color: #000000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}

main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}