.portfolio {
    display: flex;
    flex-wrap: wrap;
}
.portfolio li {
    border: .5em solid black;
    background-color: #FAFFFC;
    flex: 1 1 45%;
    box-sizing: border-box;
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.portfolio img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.portfolio li:first-child {
    flex-basis: 100%;
}
